.sidebar {
  position: absolute;
  left: 5%;
  top: 20em;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  margin: 5px auto;
}

.sidebar a {
  text-decoration: none;
}

.designer-name {
  font-weight: 100;
}

.design-name {
  font-size: 18px;
  font-weight: 400;
}

.sidebar li {
  color: #20202086;
}

.sidebar h3 a {
  color: #5E5F62CC;
}

a.design-name {
  color: #a28351;
}