@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background: url(background-blank-empty-62693.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}


/* Mobile Styles */
@media only screen and (max-width: 540px) {
  .page {
    width: 80%;
  }

  h1 {
    margin-bottom: 50px; 
  }

  .intro {
    margin: 50px 0 20px 0;
    padding-bottom: 30px;
    border-bottom: 2px solid #202020;
  }

  h3, p {
    text-align: left;
  }

  .intro-icons {
    display: none;
  }
  
  .sidebar {
    position: static;
    margin-bottom: 190px;
  }

  .sidebar li:nth-child(2n+1) {
    width: 50%;
  }

  .sidebar li {
    float: left;
    font-size: 12px;
  }

  .footer-item {
    float: left;
    width: 45%;
    margin: 5px 2%;
    height: 60px;
    background-color: #B2D6FF;    /* Medium blue */
  }
}

/* Large Mobile Styles */
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .page {
    width: 80%;
  }
  
  h1 {
    margin-bottom: 50px; 
  }

  .intro {
    margin: 50px 0 20px 0;
    padding-bottom: 30px;
    border-bottom: 2px solid #202020;
  }

  h3, p {
    text-align: left;
  }

  .intro-icons {
    display: none;
  }
  
  .sidebar {
    position: static;
    margin-bottom: 190px;
  }

  .sidebar li:nth-child(n+1) {
    width: 33%;
  }

  .sidebar li {
    float: left;
    font-size: 13px;
  }

  .footer-item {
    float: left;
    width: 31%;
    margin: 20px 1.15%;
    height: 100px;
    background-color: #B2D6FF;    /* Medium blue */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 721px) and (max-width: 960px) {
  .page {
    width: 80%;
  }
  
  .sidebar {
    position: static;
    margin-bottom: 190px;
  }

  .sidebar li:nth-child(n+1) {
    width: 33%;
  }

  .sidebar li {
    float: left;
    font-size: 13px;
  }

  .footer-item {
    float: left;
    width: 31%;
    margin: 20px 1.15%;
    height: 100px;
    background-color: #B2D6FF;    /* Medium blue */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 50%;
  }
}

/* .App {
  text-align: center;
} */