.footer {
    width: 100%;
    display: block;
  }

.footer {
  clear: both;
}

.footer-item {
  float: left;
  width: 47%;
  margin: 20px 1.15%;
  height: 160px;
  font-size: 300%;
  text-align: center;
}

.footer-item i {
  color: #202020;
}